.filter-jobs{
    /* margin: 0 8rem; */
    padding: 1rem 2rem;
    min-width: 760px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.6rem 10px hsl(180deg 100% 93%);

}
.list-filter{
    display: flex;
    gap: 1.2rem;
}
.filter-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
}
.filter-item.active img{
    background-color: #000;
}
.filter-item img{
    width: 24px;
    background-color: var(--desaturated-dark-cyan);
    padding: 0.4rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.filter-item:hover img{
    background-color: #000;
}
.clear-filter{
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
}
.clear-filter:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width:960px){
    .filter-jobs{
        padding: 1rem 2rem;
        min-width: 280px;
        width: 80%;
        margin: 0 auto;
        height: auto;
        /* position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        background-color: #fff;
        border-radius: 0.2rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0.6rem 10px hsl(180deg 100% 93%); */
        font-size: 14px;
    }
    .list-filter{
        display: flex;
        gap: 1.2rem;
        flex-wrap: wrap;
    }

    .filter-item img{
        width: 20px;
        background-color: var(--desaturated-dark-cyan);
        padding: 0.4rem;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
    }
}