@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tb: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --verydark-grayish-cyan: hsl(180, 14%, 20%);
}
html{
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
}

img{
  display: block;
  width: 100%;
}